<title>Accueil</title>

<header>
    <%- include('NavBar') %>
</header>

<h1> Magasin à proximité</h1>

<table>
    <tr>
        <td>Nom du magasin</td>
    </tr>
    <% magasins.forEach((magasin) => { %>
        <tr>
            <td><%= magasin.nomMagasin %></td>
        </tr>
    <% }); %>
</table>

<h1> Que proposons-nous</h1>
<ul>
    <li>Réparation de vos Vélos</li>
    <li>Catalogue d'équipement ou encore de vélos</li>
    <li>Vos magasins d'équipement les plus proches</li>
</ul>

<footer>
    <%- include('Footer') %>
</footer>



