<link href="../public/ChoixConnexion.css" rel="stylesheet">
<title> Choix Connexion </title>

<h1> BIKE </h1>


<ul class="ulButton">
    <li><a href="../pages/Inscription.ejs" target="_blank"> <button> Inscription </button> </a></li>
    <li><a href="../pages/Login.ejs" target="_blank"> <button> Se Connecter </button> </a></li>

</ul>


<footer>

    <ul class="ulFooter">
        <li>Nos Coordonnées:</li>
        <li>Mail : antoinecaudron8@gmail.com</li>
        <li>Téléphone : 06-12-57-17-95-24</li>
        <li>Adresse : Maubeuge, Bd Charles de Gaulle, 59600 Maubeuge</li>
    </ul>
</footer>



