<link href="../public/ChoixConnexion.css" rel="stylesheet">
<title> Choix Connexion </title>

<h1> BIKE </h1>


<ul class="ulButton">
    <li><button> Inscription </button></li>
    <li><button> Se Connecter </button></li>

</ul>

<footer>

    <ul class="ulFooter">
        <li>Nos Coordonnées:</li>
        <li>Mail : antoinecaudron8@gmail.com</li>
        <li>Téléphone : 06-12-57-17-95-2</li>
        <li>Adresse : Maubeuge,Bd Charles de Gaulle, 59600 Maubeuge</li>
    </ul>
</footer>



