<link href="../public/ChoixConnexion.css" rel="stylesheet">
<title> Choix Connexion </title>

<h1> BIKE </h1>


<ul class="ulButton">
    <li><a href="/Inscription"> <button> Inscription </button> </a></li>
    <li><a href="/Login"> <button> Se Connecter </button> </a></li>
</ul>


<footer>
    <%- include('Footer') %>
</footer>



