<link href="../public/ChoixConnexion.css" rel="stylesheet">
<title> Choix Connexion </title>

<h1> BIKE </h1>

<article>
    <button onclick="location.href='/Inscription'" type="button">S'inscrire</button>
    <button onclick="location.href='/Login'" type="button">Se Connecter</button>
</article>

<footer>
    <%- include('Footer') %>
</footer>



