<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../public/localisationMagasin.css" rel="stylesheet">
    <title>Localisation</title>
</head>


<body>

<!-- En-tête de la page avec le menu de navigation -->
<header>
    <nav class="navBar">
        <ul>
            <li><a href="Accueil.ejs">Accueil</a></li>
            <li><a href="Catalogue.ejs">Catalogue</a></li>
            <li><a href="">Suivi de Livraison</a></li>
            <li><a href="Reparation.ejs">Réparation</a></li>
            <li><a href="LocalisationMagasin.ejs">Vos Magasin</a></li>
        </ul>
    </nav>
</header>

<!-- Partie principale de la page avec la localisation-->
<main>
    <p>Retrouvez çi dessous le magasin le plus proche de chez vous : </p>

</main>


<!-- Bas de la page avec d'autres informations -->
<footer>

    <ul class="ulFooter">
        <li>Nos Coordonnées:</li>
        <li>Mail : antoinecaudron8@gmail.com</li>
        <li>Téléphone : 06-12-57-17-95-24</li>
        <li>Adresse : Maubeuge, Bd Charles de Gaulle, 59600 Maubeuge</li>
    </ul>
</footer>


</body>
</html>