<!doctype html>
<html lang="fr">
<title>Localisation</title>
<body>

<!-- En-tête de la page avec le menu de navigation -->

<header>
    <%- include('NavBar') %>
</header>

<!-- Partie principale de la page avec la localisation-->
<article>
    <p>Retrouvez çi dessous le magasin le plus proche de chez vous : </p>

</article>


<!-- Bas de la page avec d'autres informations -->
<footer>
    <%- include('Footer') %>
</footer>

</body>
</html>