<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Localisation</title>
</head>
<body>

<!-- En-tête de la page avec le menu de navigation -->
<header>
    <h1>Localisation magasins</h1>
    <nav>
        <ul>
            <li><a href="/accueil">Accueil</a></li>
            <li><a href="/catalogue">Catalogue</a></li>
            <li><a href="/suiviLivraison">Suivi de livraison</a></li>
            <li><a href="/reparation">Réparation</a></li>
        </ul>
    </nav>
</header>


<!-- Partie principale de la page avec la localisation-->
<main>
    <p>Retrouvez çi dessous le magasin le plus proche de chez vous : </p>

</main>


<!-- Bas de la page avec d'autres informations -->
<footer>

</footer>

</body>
</html>