<title>Connexion client</title>
<link href= "../public/Login.css" rel="stylesheet" type="text/css" />

<form action="/try-login" method="post">
    <div>
        <label for="nom">Nom d'utilisateur :</label>
        <input type="text" id="nom" name="nom" required>
    </div>
    <div>
        <label for="mdp">Mot de passe :</label>
        <input type="password" id="mdp" name="mdp" required>
    </div>

    <input type="submit" value="Se connecter"/>
</form>