<link href="../public/CssNavBar.css" rel="stylesheet">
<nav class="navBar">
    <ul id="nav">
        <li><a href="/accueil">Accueil</a></li>
        <li><a href="/catalogue">Catalogue</a></li>
        <li><a href="/livraisons">Suivi de Livraison</a></li>
        <li><a href="/reparations">Réparation</a></li>
        <li><a href="/magasins">Vos Magasin</a></li>
    </ul>
</nav>