<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Commande</title>
    <link href="../public/pageCommande.css" rel="stylesheet">

</head>
<body>

<!-- En-tête de la page avec le menu de navigation -->
<header>
    <h1>Commande</h1>
    <nav>
        <ul>
            <li><a href="Accueil.ejs">Accueil</a></li>
            <li><a href="Catalogue.ejs">Catalogue</a></li>
            <li><a href="">Suivi de livraison</a></li>
            <li><a href="Reparation.ejs">Réparation</a></li>
        </ul>
    </nav>
</header>


<!-- partie principale de la page, sert à visualiser la commande -->
<main>
    <h2>Récapitulatif de votre commande numéro : <%= commande.idCommande %> </h2>

    <table>
        <tr>
            <th>nom de l'article</th>
            <th>quantité</th>
            <th>prix</th>
        </tr>
    <% lignesCommande.forEach((commandes) => { %>
        <tr>
            <td><%= commandes.idArticle %><td>
            <td><%= commandes.quantite %></td>
            <td><%= commandes.prix %></td>
        </tr>
    <% }); %>
    </table>

    <form action="" method="post">
        <input type="submit" value="Valider Commande">
    </form>
</main>


<!-- Bas de la page avec d'autres informations -->
<footer>

    <ul class="ulFooter">
        <li>Nos Coordonnées:</li>
        <li>Mail : antoinecaudron8@gmail.com</li>
        <li>Téléphone : 06-12-57-17-95-24</li>
        <li>Adresse : Maubeuge, Bd Charles de Gaulle, 59600 Maubeuge</li>
    </ul>
</footer>


</body>
</html>

