<!doctype html>
<html lang="fr">
<title>Suivi livraison</title>
<body>

<!-- En-tête de la page avec le menu de navigation -->

<header>
    <%- include('NavBar') %>
</header>

<!-- Partie principale de la page qui sert à visualiser le suivi de la livraison -->
<main>
    <h1>Suivi de livraison</h1>

    <form action="/suiviLivraison" method="post">
        <label for="idLivraison">Entrez le numéro de votre commande : </label>
        <input type="text" id="idLivraison" name="idLivraison">
        <input type="submit">
    </form>

    <% if(livraison !== undefined) { %>
        <h2>Suivez votre commande numéro : <%= livraison.idLivraison %> </h2>
        <table>
            <tr>
                <th>Date de livraison</th>
                <th>Date d'arrivée</th>
            </tr>
            <tr>
                <td><%= new Intl.DateTimeFormat('fr-FR', { dateStyle: 'full', timeStyle: 'short' }).format(livraison.dateLivraisonPrevu) %>
                <td><%= new Intl.DateTimeFormat('fr-FR', { dateStyle: 'full', timeStyle: 'short' }).format(livraison.dateArrive) %></td>
            </tr>
        </table>
    <% } else { %>
        <p>Aucune livraison selectionnée.</p>
    <% } %>

</main>

</body>

<footer>

    <ul class="ulFooter">
        <li>Nos Coordonnées:</li>
        <li>Mail : antoinecaudron8@gmail.com</li>
        <li>Téléphone : 06-12-57-17-95-24</li>
        <li>Adresse : Maubeuge, Bd Charles de Gaulle, 59600 Maubeuge</li>
    </ul>
</footer>

</html>